__pycache__/
.DS_Store
/dev
examples/output/
dev/readme.md
dev/requirements.txt
/archive
*.csv
!tests/fixtures/*/*.csv
 
build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
.pyclif_dev/
.claude


#dev

clif_2.1.0.txt
context7.json

# visualization
output/
uv.lock

config/